extends layout

block content
  #banner.page-header
    .row
      .col-md-12.col-sm-12
        p
          h2= title
          hr.my-4
  .row
    .col-md-6.col-sm-12
      p
      | Localizador fué creado para ayudar a la gente a encontrar lugares para sentarse y trabajar en sus laptops.
      br
      br
      | La idea surgió al estudiar nuevas tecnologías de desarrollo web.
      br
      br