extends layout

block content
  #banner.page-header
    .row
      .col-md-12.col-sm-12
        p
          h2= title
          hr.my-4
  .row
    .col-md-12.col-sm-12
      p !{(text).replace(/\n/g, '<br/>')}