extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        h2
          | Localizador 
          small.text-muted  Encontrá lugares para trabajar con wifi cerca tuyo!
        hr.my-4
  .row
    .col-xs-12.col-sm-8
      p Area de listados.
    .col-xs-12.col-sm-4
      p.lead Localizador te ayuda a encontrar lugares para trabajar cuando estás fuera de casa.
