extends layout

block content
    #banner.page-header
      .row
        .col-lg-12
            p
              h2 Starcups
              hr.my-4
    .row
      .col-xs-12.col-md-9
        .row
          .col-xs-12.col-sm-6
            p.rating
                img(src='./images/black_star.png').stars
                img(src='./images/black_star.png').stars
                img(src='./images/black_star.png').stars
                img(src='./images/white_star.png').stars
                img(src='./images/white_star.png').stars
            p Av Velez Sarsfield 555, Córdoba
            .card.border-primary.mb-3(style='max-width: 100%;')
              .card-header
                h4.card-title Horario de atención
              .card-body
                p.card-text
                | Lunes - Viernes : 7:00 am - 10 pm
                br
                | Sabados: 8:00 am - 7 pm
                br
                | Domingos: Cerrado
            .card.border-primary.mb-3(style='max-width: 100%;')
              .card-header
                h4.card-title Instalaciones
              .card-body
                p.card-text
                  span.badge.badge-info.tags Bebidas calientes
                  span.badge.badge-info.tags Premium wifi
                  span.badge.badge-info.tags Tragos
          .col-xs-12.col-sm-6.location-map
            .card.mb-3
              h4.card-header Ubicación
              img(style='height: 380px; width: 100%; display: block;', src='./images/mapa1.png', alt='Card image')
        .row
          .col-xs-12.col-lg-12
            .card.border-primary.mb-3(style='max-width: 100%;')
              .card-header
                h4.card-title Comentarios de Clientes
                  a.btn.float-right.btn-outline-primary(type='button', href='/location/review/new') Comentar
              table.table.table-hover
                tr.table-primary
                  td
                    span.rating
                      img(src='./images/black_star.png').stars
                      img(src='./images/black_star.png').stars
                      img(src='./images/black_star.png').stars
                      img(src='./images/white_star.png').stars
                      img(src='./images/white_star.png').stars
                    |  
                    span.reviewAuthor
                      b Ariel Rosales 
                    small.reviewTime 
                      k 17 Febrero 2019
                tr.table-secondary
                  td Las instalaciones son muy comodas y tiene un buen wi fi.
                tr.table-primary
                  td
                    span.rating
                      img(src='./images/black_star.png').stars
                      img(src='./images/black_star.png').stars
                      img(src='./images/black_star.png').stars
                      img(src='./images/black_star.png').stars
                      img(src='./images/white_star.png').stars
                    |  
                    span.reviewAuthor
                      b Enzo Mariani 
                    small.reviewTime
                      k 13 Febrero 2019
                tr.table-secondary
                  td El café no es muy bueno, pero el lugar es cómodo y tranquilo para trabajar.
      .col-xs-12.col-md-3
        p.lead Starcups café está en Localizador porque tiene acceso a wi fi y espacio para sentarse con tu laptop y trabajar.
        p Si estuviste en este lugar y te gustó - o si no - por favor dejanos tus comentarios para ayudar a otras personas como vos.
              