extends layout

block content
  .row.page-header
    .col-lg-12
      p
        h2= pageHeader.title
        hr.my-4
  .row
    .col-xs-12.col-md-6
      form(action="/location", method="get", role="form")
        .form-group
          label(for='name') Nombre
          input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Tu Nombre...')
        .form-group
          label(for='clasificacion') Clasificación
          select#exampleSelect1.form-control
            option 5
            option 4
            option 3
            option 2
            option 1
        .form-group
          label(for='textarea') Tu comentario:
          textarea#exampleTextarea.form-control(rows='3')
        button.btn.float-right.btn-primary(type='submit') Agregar Comentario
  .col-xs-12.col-md-4